.flex{
    display: flex;
    width: 960px;
    max-width: 100%;
    flex-wrap: wrap;
}

.flex img{
    max-width: 100%;
}

.coluna{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;

    margin: 5px;
    flex: 0 1 250px;

    /* flex: 1; >>> Deixa todas as colunas com o mesmo tamanho de largura. */
}

.botao-saiba-mais{
    align-self: flex-start;
    margin-top: auto;
}