/* .verde-claro{
    background-color: lightgreen;
}

.azul{
    background-color: lightskyblue;
}

.rosa{
    background-color: pink;
}

.laranja-escuro{
    background-color: orange;
}

.verde-forte{
    background-color: darkgreen;
}

.vermelho{
    background-color: crimson;
}



.container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
}
.verde-claro{
    /* OBS: O grid-column não é inclusivo. Vai até determinado número mas não o inclui, preenchendo apenas as células anteriores.
    EX: 
        grid-column-start: 1; 
        grid-column-end: 3;
        Vai preencher até a segunda célula, não incluindo a 3.
    */
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */

    /* SHORTHAND!!!
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
*/


.verde{
    background-color: #399D8D;
}
.azul{
    background-color: #55B3CA;
}
.rosa{
    background-color: #BF5B9F;
}
.vermelho{
    background-color: #A95852;
}
.preto{
    background-color: #315A64;
}
.marrom{
    background-color: #736866;
}

.container{
    display: grid;

    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;

    background-image: linear-gradient(to right, #39153D, #481C47, #622457, #792C65);

    width: 580px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 8px black;
    font-size: 3em;
}
/* CRIANDO TUDO NA UNHA.
    .verde{
        grid-column: 1 / 3;
        grid-row: 1/ 3;
    }
    .azul{
        grid-column: 3 / 6;
    }
    .rosa{
        grid-column: 1 / 3;
    }
    .vermelho{
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }
    .preto{
        grid-column: 5 / 6;
        grid-row: 2 / 2;
    }
    .marrom{
        grid-column: 5 / 6;
        grid-row: 3 / 4;
    } 
*/

/* GRID AREA -> SHORTHAND DO SHORTHAND */
/* Anatomia do Grid-Area:
    grid-row-start: ;
    grid-column-start: ;
    grid-row-end: ;
    grid-column-end: ; 
*/
.verde{
    grid-area: 1 / 1 / 3 / 3;
}
.azul{
    grid-area: 1 / 3 / 1 / 6;
}
.rosa{
    grid-area: 3 / 1 / 4 / 3;
}
.vermelho{
    grid-area: 2 / 3 / 4 / 5;
}
.preto{
    grid-area: 2 / 5 / 2 / 6;
}
.marrom{
    grid-area: 3 / 5 / 3 / 6;
}