@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* font-family: 'Source Serif Pro', serif; */


*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;    /* zerar todos os outlines */
    font-weight: 300;
    box-sizing: border-box; /*  resetar todos os border box */
    font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
}



a{
    text-decoration: none;
    color: black;
}




ul{
    list-style: none;
}




img{
    max-width: 100%;
}



