@charset "UTF-8";

.Botão-Site {
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #000;

    padding: 0 20px;
    font-size: 1rem;
    line-height: 2.5;
    border: 0;
    border-radius: 10px;
    

    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);

}

.Botão-Site:hover {
    background-color: rgba(255, 0, 0, 1);
}

.Botão-Site:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}
