@charset "UTF-8";
.container{
    display: flex;
    max-width: 400px;
    border: 1px solid #ccc;
}

.item{
    background-color: rgb(195, 145, 241);
    font-size: 20px;
    margin: 5px;
    text-align: center;
}